  
.header-outer-container {
  width: 100%;
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.netflix-logo {
  width: 100px;
  margin-right: 20px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: white;
  font-size: 14px;
  /* font-weight: 500; */
  flex-wrap: wrap;
}

.nav-links li:hover {
  cursor: pointer;
  color: #888;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icon {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

/*Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .header-right {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .netflix-logo {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    font-size: 12px;
  }

  .icon {
    font-size: 16px;
  } 
   
}
